<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Controller Console Appender -->
  <appender name="APPREG_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{path} %X{method} %X{user} %X{traceId} %X{operation} - %msg%n></pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- Specifically log for app register -->
  <logger name="uk.gov.hmcts.appregister" level="DEBUG" additivity="false">
    <appender-ref ref="APPREG_APPENDER"/>
  </logger>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
